<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>karaoke Sample</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"><!-- BootstrapのCSS読み込み -->
    <script src="js/bootstrap.min.js"></script><!-- BootstrapのJS読み込み -->
  </head>

  <body>
    <div id="app">
      <p>test message</p>
      <router-view></router-view>
    </div>
  </body>

  <script id="top" type="text/template">
      <p>This is top page !</p>

  </script>

  <script id="songs" type="text/template">
    <a v-link="{ path: '/game/0' }">君が代</a>
    <a v-link="{ path: '/game/1' }">ハナミズキ</a>
  </script>

  <script  id="game" type="text/template">
    <h3>Tihs is game page</h3>
    <button v-if="stillStart" @click="gameStart">start</button><!-- TODO ここをスペースキーでの操作に変更する -->
    <div v-if="isPlaying" v-for="phrase in phrases" style="margin: 10px;">
      <div v-if="innerRange($index)">
        <div>{{ guidPhrases[$index] }}</div>
        <div>{{ phrase }}</div>
        <div v-if="$index == onfocus">
          {{ inputStringCurrent[0] }}
          <font v-if="failInput" style="color: #ff0000;">{{ failInput }}</font>
        </div>
        <div><input v-if="$index == onfocus" autofocus name="field1" @keyup="checkLastInput($index)" v-model="inputChar"></div>
      </div>
    </div>
    <h1 v-if="isFinish">clear</h1>
  </script>

  <script id="set-ranking">
  </script>

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script>
    $.ajaxSetup({
      method: 'POST',
      dataType: 'text',
      xhrFields: {
        withCredentials: true
      }
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.js"></script>

  <script src="public/router.js"></script>
</html>
