<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>teuta</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"><!-- BootstrapのCSS読み込み -->
	<link href="style.css" rel="stylesheet" type="text/css" />
    <script src="js/bootstrap.min.js"></script><!-- BootstrapのJS読み込み -->
  </head>

  <body>
    <div id="app">
      <router-view></router-view>
    </div>
  </body>

  <script id="top" type="text/template">
<img src="img/top.png" alt="タイトル" class="top">
    <p>
    <a v-link="{ path: '/songs' }" class="btn">曲を選択</a>
    <br><br>
    </p>
    <img src="img/what.png" alt="せつめい">
    <p class="text">
        カラオケに行きたいけど時間もお金もない！そんなあなたにこのゲーム！<br>
        現れる歌詞を見ながらタイピングするだけでカラオケ気分が味わえます。<br>
        ・ローマ字の通りに歌詞を打ち込む<br>
        ・１文字１コンボ<br>
        ・打ち間違いでコンボが途切れる<br>
        ・４回目のミスでその文字の打ち直し（成功するまで進めない）<br>
        ・４フレーズ遅れると強制終了<br>
        ・各曲クリア条件あり<br>
        君が代、ハナミズキ、夏色えがおで１,２,jump!の三曲から選択可能！<br></p>
  </script>

  <script id="songs" type="text/template">
    <img src="img/what.png" alt="せつめい">
    <p class="text">
        <a v-link="{ path: '/initPage/0' }">君が代</a><br>
        みんなだいすきにほんのこっか<br>
        だいじょうぶ、ぜったいできる<br>
        さいだいこんぼすう：７２<br>
        なんいど：かんたん <br>
        <br>
        <a v-link="{ path: '/initPage/1' }">ハナミズキ</a><br>
        じつは９．１１についてうたっているらしい<br>
        みんなはしってた？<br>
        さいだいこんぼすう：２３５<br>
        なんいど：ふつう<br>
        <br>
        <br>
        <a v-link="{ path: '/initPage/2' }">夏色えがおで１，２，ｊｕｍｐ！ </a><br>
        うおおおおおおおおおおおお！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！<br>
        にこおおおおおおおおおおおおおおおおおおおオレだｱｱｱｱｱｱｱｱｱｱｱｱｱｱあああああああああああああああああああああああああああああ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！<br>
        Ｍａｘｃｏｍｂｏ：５３１<br>
        Ｄｉｆｆｉｃｕｌｔｙ：Ｅｘｔｒｅａｍ <br>
        <br>
    </p>
  </script>

  <script id="initPage" type="text/template">
    <a v-link="{ path: '/game/' + $route.params.song_id }" class="sbtn">start</a>
  </script>

  <script  id="game" type="text/template">
    <audio src="public/data/"></audio>
    <button v-if="stillStart" @click="gameStart">start</button><!-- TODO ここをスペースキーでの操作に変更する -->
    <h3 v-if="isPlaying">{{ getCombo + "コンボ！！" }}</h3>
    <div v-if="isPlaying" v-for="phrase in phrases" style="margin: 10px;">
      <div v-if="innerRange($index)">
        <div>{{ guidPhrases[$index] }}</div>
        <div>{{ phrase }}</div>
        <div v-if="$index == onfocus">
          {{ inputStringCurrent }}
          <font v-if="failInput" style="color: #ff0000;">{{ failInput }}</font>
        </div>
        <div><input v-if="$index == onfocus" autofocus name="field1" @keyup="checkLastInput($index)" v-model="inputChar"></div>
      </div>
    </div>
    <div v-if="isClear">
      <h1>clear!!</h1>
      <h3>{{ 'MAX コンボ：' + getMaxCombo }}</h3>
    </div>
  </script>

  <script id="setRanking">
  </script>

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script>
    $.ajaxSetup({
      method: 'POST',
      dataType: 'text',
      xhrFields: {
        withCredentials: true
      }
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.js"></script>

  <script src="public/router.js"></script>
</html>